@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#nav-bar {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
}

#nav-bar div {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-bar div a {
  color: #2b8f9e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

#nav-bar div a span i {
  margin-right: 5px;
  margin-top: 15px;
}

#nav-bar div a .logoText {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

#nav-bar ul li {
  list-style: none;
  padding: 1rem;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #2b8f9e;
}

#nav-bar ul li .btn {
  border-radius: 3px;
  border: 1px solid #2b8f9e;
  padding: .5rem;
}

main .bgHero {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2b8f9e;
}

main .bgHero .imgWrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bgHero .imgWrapper .bg-image {
  background: url("../img/database1.png") center no-repeat;
  height: 250px;
  width: 250px;
  background-size: cover;
}

main .bgHero .bgHeroContent {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bgHero .bgHeroContent h1 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
}

main .bgHero .bgHeroContent p {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem;
}

main .bgHero .bgHeroContent a {
  margin: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 3px;
  background: #ffffff;
  color: #2b8f9e;
  text-align: center;
  width: 200px;
  -webkit-box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

main .bgHero .bgHeroContent a:hover {
  -webkit-box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.3);
          box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.3);
}

main .partners {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 55, 58, 0.1);
}

main .partners span i {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: .5;
}

main .partners span i:hover {
  opacity: .9;
  cursor: pointer;
}

main .quality-leads {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .quality-leads .lead-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .quality-leads .lead-header .head-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

main .quality-leads .lead-header .head-wrapper h1 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

main .quality-leads .lead-header .head-wrapper p {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

main .quality-leads .img-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main .quality-leads .img-timeline > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 240px;
  height: 240px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f48d84), to(#f152a2));
  background: linear-gradient(#f48d84, #f152a2);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .quality-leads .img-timeline > div > .server-img {
  background: url("../img/database.png") center no-repeat;
  width: 170px;
  height: 170px;
  background-size: cover;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .quality-leads .img-timeline > div > .cube-img {
  background: url("../img/database.png") center no-repeat;
  width: 170px;
  height: 170px;
  background-size: cover;
}

main .quality-leads .img-timeline > div > .face-img {
  background: url("../img/database.png") center no-repeat;
  width: 170px;
  height: 170px;
  background-size: cover;
}

main .enrichment {
  height: 70vh;
  background: -webkit-gradient(linear, right top, left top, from(#24bebc), to(#43126d));
  background: linear-gradient(right, #24bebc, #43126d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #ffffff;
}

main .enrichment .enrichment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .enrichment .enrichment-section .en-content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main .enrichment .enrichment-section .en-content h2 {
  padding: 1rem;
  font-size: 1.8rem;
}

main .enrichment .enrichment-section .en-content p {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

main .enrichment .enrichment-section .en-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .enrichment .enrichment-section .en-img > div {
  background: url("../img/email.png") center no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
}

main .enrichment .separator {
  height: 3px;
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

main .enrichment .reveal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .enrichment .reveal-section .rev-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .enrichment .reveal-section .rev-img > div {
  background: url("../img/placeholder.png") center no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
}

main .enrichment .reveal-section .rev-content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

main .enrichment .reveal-section .rev-content h2 {
  padding: 1rem;
  font-size: 1.8rem;
}

main .enrichment .reveal-section .rev-content p {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

main .conversions {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .conversions .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .conversions .content h2 {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

main .conversions .content p {
  padding: 1rem;
  font-size: .8rem;
  font-weight: 300;
}

main .conversions .path {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid rgba(43, 143, 158, 0.5);
  padding: 1.5rem 3rem;
  border-radius: 4px;
  width: 50%;
}

main .conversions .path > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .conversions .path > div i {
  margin-right: 5px;
}

main .conversions .path > div span {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 1rem;
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .conversions .path > div a {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-decoration: none;
  font-weight: bold;
  color: #2b8f9e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .testimonial {
  height: 70vh;
  background: url("../img/testimonial.jfif") center no-repeat;
  background-size: cover;
  -webkit-box-shadow: 1px -1px 6px rgba(47, 55, 58, 0.5);
          box-shadow: 1px -1px 6px rgba(47, 55, 58, 0.5);
  position: relative;
}

main .testimonial .content {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 80%;
  height: 250px;
  background: rgba(47, 55, 58, 0.5);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .testimonial .content p {
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
}

main .testimonial .content span {
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */