@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
// Color Palette
$color1: #ffffff;
$color2: #2b8f9e;
$color3: #f48d84;
$color4: #45106c;
$color5: #2f373a;
$color6: #212a33;
$color7: #f152a2;
$color8: #43126d;
$color9: #24bebc;

html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#nav-bar {
    background: $color1;
    display: flex;
    height: 10vh;
    div {
        flex-basis: 25%;
        display: flex;
        justify-content: center;
        >a {
            color: $color2;
            align-self: center;
            text-decoration: none;
            display: flex;
            span {
                i {
                    margin-right: 5px;
                    @media screen and (max-width: 980px) {
                        display: none;
                    }
                }
            }
            .logoText {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 3px;
                align-self: center;
            }
        }
    }
    >ul.nav-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 75%;
        @media screen and (max-width: 980px) {
            display: none;
        }
        >li {
            list-style: none;
            padding: 1rem;
            a {
                text-decoration: none;
                color: $color2;
            }
            .btn {
                border-radius: 3px;
                border: 1px solid $color2;
                padding: .5rem;
            }
        }
    }
    >ul.nav-mobile {
        display: flex;
        justify-content: flex-end;
        flex-basis: 75%;
        align-content: center;
        position: relative;
        >div.menu-icon {
            display: flex;
            flex-direction: column;
            >i {
                font-size: 4rem;
                color: rgba($color5, .9);
                &:hover {
                    cursor: pointer;
                }
            }
            // margin-right: 5px;
            // &::after {
            //     font-family: 'Font Awesome 5 Free';
            //     font-weight: 900;
            //     content: '\f0c9';
            //     display: flex;
            //     font-size: 4rem;
            //     //padding: 1rem;
            //     color: rgba($color5, .9);
            // }
        }
        >div.menu-items {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: absolute;
            top: 100%;
            z-index: 1;
            width: 100%;
            background-color: $color1;
            display: none;
            li {
                list-style: none;
                padding: 1rem;
                 a {
                     text-decoration: none;
                     padding: 1rem;
                     color: rgba($color5, .9);
                     &::selection{
                         background: transparent;
                     }
                 }
            }
        }
        @media screen and (min-width: 980px) {
            display: block;
        }
        @media screen and (min-width: 980px) {
            display: none;
        }
    }
}
main {
    position: relative;
    .bgHero {
        height: 80vh;
        min-height: 700px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: $color2;
        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
        .imgWrapper{
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            .bg-image {
                background: url('../img/database1.png') center no-repeat;
                height: 250px;
                width: 250px;
                background-size: cover;
            }
            @media screen and (max-width: 900px) {
                align-items: flex-end;
                flex-basis: 40%;
            }
        }
        .bgHeroContent {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: 900px) {
                flex-basis: 60%;
            }
            h1 {
                text-transform: capitalize;
                font-weight: 300;
                font-size: 2rem;
                padding: 1rem;
                color: $color1;
                @media screen and (max-width: 900px) {
                    padding: .5rem;
                }
            }
            p {
                color: $color1;
                font-weight: 300;
                font-size: 1.2rem;
                padding: 1rem;
                @media screen and (max-width: 900px) {
                    padding: .5rem;
                }
            }
            a {
                margin: 1rem;
                text-decoration: none;
                text-transform: uppercase;
                padding: 1rem 2rem;
                border-radius: 3px;
                background: $color1;
                color: $color2;
                text-align: center;
                width: 200px;
                box-shadow: 2px 2px 3px rgba($color1, .3);
                transition-duration: .3s;
                &:hover{
                    box-shadow: 3px 3px 6px rgba($color1, .3);
                }
                @media screen and (max-width: 900px) {
                    padding: .5rem 1rem;
                }
            }
        }
    }
    .partners {
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: rgba($color5, .1);
        span {
            i {
                //transition: opacity 1s ease-in-out;
                opacity: .5;
                transition-duration: 1s;
                &:hover {
                    opacity: .9;
                    cursor: pointer;
                    text-shadow: 3px 3px 6px rgba($color5, .4);
                }
            }
        }
    }
    .quality-leads {
        height: 70vh;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 600px) {
            height: 60vh;
        }
        .lead-header {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 600px) {
                flex-basis: 70%;
            }
            .head-wrapper {
                width: 60%;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                @media screen and (max-width: 900px) {
                    width: 90%;
                }
                h1 {
                    text-align: center;
                    padding: 1rem;
                    font-size: 2rem;
                }
                p {
                    text-align: center;
                    padding: 1rem;
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
        }
        .img-timeline {
            display: flex;
            justify-content: space-evenly;
            flex-basis: 50%;
            @media screen and (max-width: 600px) {
                flex-basis: 30%;
            }
            > div {
                display: flex;
                align-self: center;
                width: 240px;
                height: 240px;
                background: linear-gradient($color3, $color7);
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 900px) {
                    width: 150px;
                    height: 150px;
                }
                @media screen and (max-width: 600px) {
                    width: 100px;
                    height: 100px;
                }
                >.server-img {
                    background: url('../img/database2.png') center no-repeat;
                    width: 170px;
                    height: 170px;
                    background-size: cover;
                    justify-self: center;
                    @media screen and (max-width: 900px) {
                        width: 100px;
                        height: 100px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 75px;
                        height: 75px;
                    }
                }
                >.cube-img {
                    background: url('../img/database.png') center no-repeat;
                    width: 170px;
                    height: 170px;
                    background-size: cover;
                    @media screen and (max-width: 900px) {
                        width: 100px;
                        height: 100px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 75px;
                        height: 75px;
                    }
                }
                >.face-img {
                    background: url('../img/laptop.png') center no-repeat;
                    width: 170px;
                    height: 170px;
                    background-size: cover;
                    @media screen and (max-width: 900px) {
                        width: 100px;
                        height: 100px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
            
        }
    }
    .enrichment {
        height: 70vh;
        min-height: 800px;
        background: linear-gradient(right, $color9, $color8);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: $color1;
        .enrichment-section {
            display: flex;
            justify-content: center;
            .en-content {
                flex-basis: 40%;
                @media screen and (max-width: 1200px) {
                    flex-basis: 75%;
                }
                h2 {
                    padding: 1rem;
                    font-size: 1.8rem;
                }
                @media screen and (max-width: 600px) {
                    padding: .5rem;
                }
                p {
                    padding: 1rem;
                    font-size: 1rem;
                    font-weight: 300;
                }
                @media screen and (max-width: 600px) {
                    padding: .5rem;
                }
                @media screen and (max-width: 900px) {
                    flex-basis: 90%;
                }
            }
            .en-img {
                flex-basis: 40%;
                display: flex;
                justify-content: center;
                @media screen and (max-width: 1200px) {
                    flex-basis: 25%;
                }
                >div {
                    background: url('../img/email.png') center no-repeat;
                    background-size: cover;
                    height: 250px;
                    width: 250px;
                    align-self: center;
                    @media screen and (max-width: 1200px) {
                        width: 170px;
                        height: 170px;
                    }
                }
                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }
        .separator {
            height: 3px;
            width: 90%;
            margin: 0 auto;
            background: rgba($color1, .5);
            border-radius: 3px;
        }
        .reveal-section {
            display: flex;
            justify-content: center;
            .rev-img {
                flex-basis: 40%;
                display: flex;
                justify-content: center;
                @media screen and (max-width: 1200px) {
                    flex-basis: 25%;
                }
                >div {
                    background: url('../img/placeholder.png') center no-repeat;
                    background-size: cover;
                    height: 250px;
                    width: 250px;
                    align-self: center;
                    @media screen and (max-width: 1200px) {
                        width: 170px;
                        height: 170px;
                    }
                }
                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
            .rev-content {
                flex-basis: 40%;
                @media screen and (max-width: 1200px) {
                    flex-basis: 90%;
                }
                h2 {
                    padding: 1rem;
                    font-size: 1.8rem;
                    @media screen and (max-width: 600px) {
                        padding: .5rem;
                    }
                }
                p {
                    padding: 1rem;
                    font-size: 1rem;
                    font-weight: 300;
                    @media screen and (max-width: 600px) {
                        padding: .5rem;
                    }
                }
            }
        }
    }
    .conversions {
        height: 35vh;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .content {
            align-self: center;
            h2 {
                padding: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
                text-transform: capitalize;
            }
            p {
                padding: 1rem;
                font-size: .8rem;
                font-weight: 300;
            }
        }
        .path {
            align-self: center;
            border: 2px solid rgba($color2, .5);
            padding: 1.5rem 3rem;
            border-radius: 4px;
            width: 50%;
            
            @media screen and (max-width: 1400px) {
                width: 75%;
                padding: 1.2rem 2.4rem;
            }
            @media screen and (max-width: 900px) {
                width: 90%;
                padding: .8rem 1.6rem;
            }
            >div {
                display: flex;
                text-align: center;
                i {
                    margin-right: 5px;
                    @media screen and (max-width: 730px) {
                        display: none;
                    }
                }
                span {
                    flex-basis: 50%;
                    font-size: 1rem;
                    font-weight: 300;
                    align-self: center;
                }
                a {
                    flex-basis: 50%;
                    text-decoration: none;
                    font-weight: bold;
                    color: $color2;
                    align-self: center;
                }
            }
        }
    }
    .testimonial {
        height: 70vh;
        min-height: 700px;
        background: url('../img/testimonial.jfif') center no-repeat;
        background-size: cover;
        box-shadow: 1px -1px 6px rgba($color5, .5);
        position: relative;
        .content {
            position: absolute;
            top: 60%;
            left: 10%;
            width: 80%;
            height: 250px;
            background: rgba($color5, .5);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            p {
                color: $color1;
                font-weight: 300;
                font-size: 1rem;
                padding: 1rem;
            }
            span {
                color: $color1;
                font-weight: 300;
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }
    .mailing-list {
        height: 35vh;
        min-height: 300px;
        //background: url('../img/world.jfif') center no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        >div {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background: rgba($color1, .5);
            height: 25vh;
            border-radius: 6px;
            text-align: center;
            h2 {
                padding: 1rem;
                font-size: 1.4rem;
                font-weight: 400;
                text-transform: capitalize;
            }
            p {
                padding: 1rem;
                font-size: .8rem;
                font-weight: 300;
            }
            .mailing {
                //align-self: center;
                border: 2px solid rgba($color2, .5);
                padding: .5rem .5rem;
                border-radius: 4px;
                display: flex;
                width: 90%;
                margin: 0 auto;
                @media screen and (max-width: 730px) {
                    flex-direction: column;
                }
                input {
                    padding: 1rem;
                    outline: none;
                    border: none;
                    border-radius: 4px 0 0 4px;
                    font-size: 1rem;
                    font-weight: 300;
                    flex-basis: 50%;
                }
                button {
                    outline: none;
                    border: none;
                    padding: 1rem;
                    margin-right: -1;
                    border-radius: 0 4px 4px 0;
                    background: rgba($color2, .8);
                    border-radius: 4px;
                    color: white;
                    flex-basis: 50%;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    footer {
        //height: 50vh;
        //min-height: 500px;
        background: $color6;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        >div {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            ul {
                display: flex;
                flex-direction: column;
                justify-items: center;
                flex-basis: 25%;
                @media screen and (max-width: 900px) {
                    flex-basis: 50%;
                }
                .li-heading {
                    color: rgba($color1, .5);
                    text-transform: uppercase;
                }
                li {
                    list-style: none;
                    flex-basis: calc(25vh / 7);
                    justify-self: center;
                    padding: .5rem;
                    a {
                        text-decoration: none;
                        color: $color9;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
        .footer2 {
            display: flex;
            justify-content: space-evenly;
            @media screen and (max-width: 900px) {
                flex-direction: column;
            }
            div {
                flex-basis: 50%;
            }
            .copyright {
                display: flex;
                justify-content: center;
                @media screen and (max-width: 900px) {
                    padding: 1rem;
                }
                a {
                    color: $color2;
                    align-self: center;
                    text-decoration: none;
                    span {
                        i {
                            color: rgba($color1, .5);
                        }
                        
                    }
                    .footerText {
                        font-size: 1rem;
                        color: rgba($color1, .5);
                        margin-left: 5px;
                    }
                }
                >span {
                    align-self: center;
                    text-decoration: none;
                    color: rgba($color1, .3); 
                    margin-left: 15px;
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
            .user {
                display: flex;
                justify-content: space-evenly;
                @media screen and (max-width: 900px) {
                    padding: 1rem;
                }
                span {
                    display: flex;
                    a {
                        color: $color9;
                        border-radius: 4px;
                        padding: .5rem 2rem;
                        border: 1px solid $color9;
                        display: flex;
                        align-self: center;
                        text-decoration: none;
                        transition-duration: .5s;
                        &:hover{
                            cursor: pointer;
                            background-color: rgba($color9, .2);
                        }
                    }
                }
            }
        }
    }
    .scroller {
        position: fixed;
        top: 90vh;
        left: 90vw;
        background-color: $color3;
        border-radius: 50%;
        //padding: 1rem;
        display: none;
        //text-align: center;
        @media screen and (max-width: 1100px) {
            left: 85vw;
        }
        @media screen and (max-width: 900px) {
            left: 80vw;
        }
        @media screen and (max-width: 600px) {
            left: 75vw;
            top: 85vh;
        }
        .scroller-wrapper {
            display: flex;
            flex-direction: column;
            width: 80px;
            height: 80px;
            justify-content: center;
            &:hover {
                cursor: pointer;
            }
            span {
                align-self: center;
            }
        } 
    }
}

.dropdown {
    position: relative;
    .dropdown-item {
        &::after {
            content: '\f309';
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900;
            font-size: 15px;
            margin-left: 5px;
        }
    }
    &:hover > .dropdown-menu {
        display: block !important;
    }
    &:hover > .dropdown-item::after {
        content: '\f30c';
    }
    .dropdown-menu {
        position: absolute;
        display: none !important;
        z-index: 1;
        background-color: rgba($color1, .99);
        width: 100%;
        border-radius: 3px;
        top: 100%;
        left: 0%;
        box-shadow: 1px 1px 3px rgba($color5, .7);
        ul {
            >li{
                padding: 0px;
                display: flex;
                justify-content: center;
                &:hover {
                    background-color: rgba($color5, .1);
                }
                a {
                    padding: 1rem;
                }
            }
        }
    }
}